{% extends "travel/base.html" %}
{% load static %}
{% block MPCbody %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="wrapper wrapper-content" style>
	<main id="content" class="content-container" style="overflow: visible !important;">
		<article id="post-123" class="article-post article post-123 post type-post status-publish format-standard has-post-thumbnail hentry category-laos category-theweekly mv-content-wrapper grow-content-body" style="overflow: visible !important;">
			<header class="entry-header header-singular wrapper">
				<h1 class="entry-title article-heading">TESTING HAMBURGER NAV"</h1>	
				<div class="article-meta post-meta-wrapper post-meta-single post-meta-single-top no-author-meta">
					<p class="ryan-meta">
						<span class="ryan-link">
							<a href="#aboutme" rel="nooperner noreferrer">Ryan Hutchinson</a> /
						</span>
					</p>
					<p class="meta-wrapper">
						<span class="posted-on">
							 Last updated: 
							<time class="entry-date" datetime="2023-07-01T06:39:00+00">July 1, 2023 /</time>
						</span>
					</p>
					<p class="meta-cats">
						<span class="cat-links">
							<a href="#laos" rel="category tag">LAOS</a>,
							<a href="#theweekly" rel="category tag"> THE WEEKLY</a>
						</span>
					</p>
				</div>
			</header>
			<figure class="post-thumbnail">
				<img src="/media/laos/pakse/wholesome_landscape.jpeg" sizes="(max-width: 728px) calc(100vw-40px), 720px" alt="THE WEEKLY #23: MY LAST WEEK IN SOUTHEAST ASIA" height="667" width="1000" loading="eager" data-svg="1">
				</img>
			</figure>
			<div class="entry-content mvt-content" data-content-ads-inserted="true" style="overflow: visible !important;">
				<p>"My final week in Southeast Asia was spent in a relatively unknown town called Vang Vieng. In the Northeast of Laos, Vang Vieng sits on the Nam Song River and has a reputation for parties, drugs and free alcohol. Well it definitely had all of that and more but I chose to explore the limestone mountains, lagoons and rice paddies."</p>
				<h5 class="wp-block-heading">LUANG PRABANG TO VANG VIENG</h5>
				<p>From Luang Prabang the bus was a 5-hour journey and was much simpler than my arduous journey from Siem Reap to Luang Prabang that took three days of travel. I spent my final week at Chillao Hostel, which cost me a total of $32 USD and included a free breakfast, tea, coffee and each night they put on all you can drink free whisky. Vang Vieng is the cheapest place in the world to be an alcoholic.</p>
				<div class="mv-ad-box" data-slotid="content_btf" style="height: 140px; width: 100%; overflow: visible !important;">
					<p> AD GOES HERE</p>
				</div>
				<div class="wp-block-image">
					<figure class="aligncenter">
						<img decoding="async" width="1000" height="667" src="/media/laos/pakse/waterfall_1_1.jpeg" alt="pakse photos, pakse, what to do in pakse, pakse motorobike loop, motorbike loop, top things to do in laos" class="wp-image-3984 lazyload" id="mv-trellis-img-2" loading="lazy">
						</img>
					</figure>
				</div>
				<h5 class="wp-block-heading">VANG VIENG</h5>
				<p>It is a place you can quickly become sucked into the cycle of drinking/staying up late and then lethargically waking up late and repeating it all again the next day. However, there are so many beautiful places to check out in Vang Vieng that it would be incredibly disappointing to waste away my time in a bar.</p>
				<div class="mv-ad-box" data-slotid="content_btf" style="height: 140px; width: 100%; overflow: visible !important;">
					<p> AD GOES HERE</p>
				</div>
				<div class="wp-block-image">
					<figure class="aligncenter">
						<img decoding="async" width="1000" height="667" src="/media/laos/pakse/landscape_3.jpeg" alt="pakse photos, pakse, what to do in pakse, pakse motorobike loop, motorbike loop, top things to do in laos" class="wp-image-3984 lazyload" id="mv-trellis-img-2" loading="lazy">
						</img>
					</figure>
				</div>
			</div>
		</article> 
		<!-- Comment Section goes here -->
	</main>
</div>
{% endblock %}
