{% extends "travel/base.html" %}
{% load static %}
{% block MPCbody %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="MPCbody"> 
	<div class="MainPageCarousel-container">
		<div class="MPC-slide">

			<div class="MPC-item" style="background-image: url('/media/malaysia/kota_kinabalu/market_fish_2.jpeg');">
				<div class="MPC-content">
					<div class="MPC-name">Kota Kinabalu, Malaysia</div>
					<div class="MPC-des">Kota Kinabalu has one of the wildest fish markets I have seen. You can find anything from stingrays to giant snails</div>
                    <div class="MPC-see-more">
                        <a href="#Kota_Kinabalu"><button>See More</button></a>
                    </div>
				</div>
			</div>
            <div class="MPC-item" style="background-image: url('/media/malaysia/langkawi/hike_1.jpeg');">
				<div class="MPC-content">
					<div class="MPC-name">Langkawi, Malaysia</div>
					<div class="MPC-des">View from the top of a really challenging 2.5 hour hike in the humidity. Hiked because it's free and the sky bridge was closed, but this ended up being the best</div>
                    <div class="MPC-see-more">
                        <a href="#Langkawi"><button>See More</button></a>
                    </div>
				</div>
			</div>
            <div class="MPC-item" style="background-image: url('/media/malaysia/georgetown/monkey_beach_1.jpeg');">
				<div class="MPC-content">
					<div class="MPC-name">Georgetown, Malaysia</div>
					<div class="MPC-des">Another challenging hike to get to through the jungle and unmarked paths, or take a boat (but that's no fun). Be careful of the monkeys!</div>
                    <div class="MPC-see-more">
                        <a href="#Georgetown"><button>See More</button></a>
                    </div>
				</div>
			</div>
			<div class="MPC-item" style="background-image: url('/media/malaysia/langkawi/hike_waterfall_1.jpeg');">
				<div class="MPC-content">
					<div class="MPC-name">Langkawi, Malaysia</div>
					<div class="MPC-des">Some of the pools by a waterfall you can cool off in after the hike</div>
                    <div class="MPC-see-more">
                        <a href="#Langkawi"><button>See More</button></a>
                    </div>
				</div>
			</div>
            <div class="MPC-item" style="background-image: url('/media/malaysia/sandakan/orang_postfight.jpeg');">
				<div class="MPC-content">
					<div class="MPC-name">Sandakan, Malaysia</div>
					<div class="MPC-des">One of the only two places in the world you can see wild orangutans! A short easy flight (or drive) from Kota Kinabalu.</div>
                    <div class="MPC-des">Note* These two orangutans are eating food provided by the conservatory as a safety net if the natural food production around them is low.</div>
                    <div class="MPC-see-more">
                        <a href="#Sandakan"><button>See More</button></a>
                    </div>
				</div>
			</div>
			<div class="MPC-item" style="background-image: url('/media/malaysia/sandakan/rainforet_uptop.jpeg');">
				<div class="MPC-content">
					<div class="MPC-name">Sandakan, Malaysia</div>
					<div class="MPC-des">Walking through the Rainforest Conservation</div>
                    <div class="MPC-see-more">
                        <a href="#Sandakan"><button>See More</button></a>
                    </div>
				</div>
			</div>
			<div class="MPC-item" style="background-image: url('/media/malaysia/sandakan/sun_bear_tree.jpeg');">
				<div class="MPC-content">
					<div class="MPC-name">Sandakan, Malaysia</div>
					<div class="MPC-des">A sunbear chilling in a tree!</div>
                    <div class="MPC-see-more">
                        <a href="#Sandakan"><button>See More</button></a>
                    </div>
				</div>
			</div>
            <div class="MPC-item" style="background-image: url('/media/malaysia/kuala_lumpur/towers_2.jpeg');">
				<div class="MPC-content">
					<div class="MPC-name">Kuala Lumpur, Malaysia</div>
					<div class="MPC-des">Petra Towers - included below is one of the biggest malls I've personally seen inside!</div>
                    <div class="MPC-see-more">
                        <a href="#Kuala_Lumpur"><button>See More</button></a>
                    </div>
				</div>
			</div>
			<div class="MPC-item" style="background-image: url('/media/malaysia/kota_kinabalu/mount_kinabalu_2.jpeg');">
				<div class="MPC-content">
					<div class="MPC-name">Kota Kinabalu, Malaysia</div>
					<div class="MPC-des">Mount Kinabalu. In between the city of Kota Kinabalu and the wild orangutans in Sandakan on the east of Borneo</div>
                    <div class="MPC-see-more">
                        <a href="#Kota_Kinabalu"><button>See More</button></a>
                    </div>
				</div>
			</div>
			<div class="MPC-item" style="background-image: url('/media/malaysia/georgetown/street_art_bicycle.jpeg');">
				<div class="MPC-content">
					<div class="MPC-name">Georgetown, Malaysia</div>
					<div class="MPC-des">Tons of street art to be discovered on this island</div>
                    <div class="MPC-see-more">
                        <a href="#Georgetown"><button>See More</button></a>
                    </div>
				</div>
			</div>
			<div class="MPC-item" style="background-image: url('/media/malaysia/georgetown/street_art_row.jpeg');">
				<div class="MPC-content">
					<div class="MPC-name">Georgetown, Malaysia</div>
					<div class="MPC-des">Tons of street art to be discovered on this island</div>
                    <div class="MPC-see-more">
                        <a href="#Georgetown"><button>See More</button></a>
                    </div>
				</div>
			</div>
			
        </div>

		<div class="MPC-next-prev">
			<button class="prev"><i class="fa-solid fa-arrow-left"></i></button>
			<button class="next"><i class="fa-solid fa-arrow-right"></i></button>
		</div>
	</div>
	<script src="{% static 'travel/MPC_specific.js' %}"></script>
</div>
{% endblock %}
