{% extends "travel/base.html" %}
{% load static %}
{% block MPCbody %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="MPCbody"> 
	<div class="MainPageCarousel-container">
		<div class="MPC-slide">
			
			<div class="MPC-item" style="background-image: url('/media/philippines/elnido/elnido_flood.jpeg');">

				<div class="MPC-content">
					<div class="MPC-name">El Nido (Palawan), Philippines</div>
					<div class="MPC-des">Scenes from the early days of the typhoon</div>
					<div class="MPC-see-more">
                        <a href="#ElNido"><button>See More</button></a>
                    </div>
				</div>
			</div>
            <div class="MPC-item" style="background-image: url('/media/philippines/bohol/waterfall_1_2.jpeg');">
				<div class="MPC-content">
					<div class="MPC-name">Bohol Island, Philippines</div>
					<div class="MPC-des">Pahangog Falls - of the many waterfalls you can jump and swim in</div>
					<div class="MPC-see-more">
                        <a href="#Bohol"><button>See More</button></a>
                    </div>
				</div>
			</div>
			<div class="MPC-item" style="background-image: url('/media/philippines/bohol/panglao_beach.jpeg');">
				<div class="MPC-content">
					<div class="MPC-name">Panglao Island, Philippines</div>
					<div class="MPC-des">Beach of Bohol on Panglao Island</div>
					<div class="MPC-see-more">
                        <a href="#Bohol"><button>See More</button></a>
                    </div>
				</div>
			</div>
			<div class="MPC-item" style="background-image: url('/media/philippines/bohol/chocolate_mountains_2.jpeg');">
				<div class="MPC-content">
					<div class="MPC-name">Bohol Island, Philippines</div>
					<div class="MPC-des">The Chocolate Mountains - formed 2 million yeras ago from coral or shells</div>
					<div class="MPC-see-more">
                        <a href="#Bohol"><button>See More</button></a>
                    </div>
				</div>
			</div>
			<div class="MPC-item" style="background-image: url('/media/philippines/bohol/bohol_ricefields.jpeg');">
				<div class="MPC-content">
					<div class="MPC-name">Bohol Island, Philippines</div>
					<div class="MPC-des">Passing by some rice fields on the way to lunch</div>
					<div class="MPC-see-more">
                        <a href="#Bohol"><button>See More</button></a>
                    </div>
				</div>
			</div>
			<div class="MPC-item" style="background-image: url('/media/philippines/siargao/island_hop_3rd_zoomout.jpeg');">
				<div class="MPC-content">
					<div class="MPC-name">Siargao Island, Philippines</div>
					<div class="MPC-des">Island hopping around Siargao</div>
					<div class="MPC-see-more">
                        <a href="#Siargao"><button>See More</button></a>
                    </div>
				</div>
			</div>		
			<div class="MPC-item" style="background-image: url('/media/philippines/siargao/coconut_farm.jpeg');">
				<div class="MPC-content">
					<div class="MPC-name">Siargao Island, Philippines</div>
					<div class="MPC-des">Coconut farm</div>
					<div class="MPC-see-more">
                        <a href="#Siargao"><button>See More</button></a>
                    </div>
				</div>
			</div>		
			<div class="MPC-item" style="background-image: url('/media/philippines/siargao/island_hop_naked_island_1.jpeg');">
				<div class="MPC-content">
					<div class="MPC-name">Siargao Island, Philippines</div>
					<div class="MPC-des">Island hopping around Siargao. This tiny island just has a man selling coconuts, that's it!</div>
					<div class="MPC-see-more">
                        <a href="#Siargao"><button>See More</button></a>
                    </div>
				</div>
			</div>
			<div class="MPC-item" style="background-image: url('/media/philippines/siargao/island_hop_2nd_1.jpeg');">
				<div class="MPC-content">
					<div class="MPC-name">Siargao Island, Philippines</div>
					<div class="MPC-des">Island hopping around Siargao</div>
					<div class="MPC-see-more">
                        <a href="#Siargao"><button>See More</button></a>
                    </div>
				</div>
			</div>
			<div class="MPC-item" style="background-image: url('/media/philippines/siargao/wholesome_2.jpeg');">
				<div class="MPC-content">
					<div class="MPC-name">Siargao Island, Philippines</div>
					<div class="MPC-des">Some great people I met at the hostel and island hopped with</div>
					<div class="MPC-see-more">
                        <a href="#Siargao"><button>See More</button></a>
                    </div>
				</div>
			</div>
			<div class="MPC-item" style="background-image: url('/media/philippines/elnido/zipline_beach.jpeg');">
				<div class="MPC-content">
					<div class="MPC-name">El Nido (Palawan), Philippines</div>
					<div class="MPC-des">A beach that you can zipline to!</div>
					<div class="MPC-see-more">
                        <a href="#ElNido"><button>See More</button></a>
                    </div>
				</div>
			</div>
			<div class="MPC-item" style="background-image: url('/media/philippines/elnido/street.jpeg');">
				<div class="MPC-content">
					<div class="MPC-name">El Nido (Palawan), Philippines</div>
					<div class="MPC-des">Street view from El Nido. A typhoon arrived, so very limited on what to do</div>
					<div class="MPC-see-more">
                        <a href="#ElNido"><button>See More</button></a>
                    </div>
				</div>
			</div>
			
			
		</div>

		<div class="MPC-next-prev">
			<button class="prev"><i class="fa-solid fa-arrow-left"></i></button>
			<button class="next"><i class="fa-solid fa-arrow-right"></i></button>
		</div>
	</div>
	<script src="{% static 'travel/MPC_specific.js' %}"></script>
</div>
{% endblock %}
