{% extends "travel/base.html" %}
{% load static %}
{% block MPCbody %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="MPCbody"> 
	<div class="MainPageCarousel-container">
		<div class="MPC-slide">

            <div class="MPC-item" style="background-image: url('/media/thailand/chiang_mai/img_5_enp_1.jpeg');">
				<div class="MPC-content">
					<div class="MPC-name">Chiang Mai, Thailand</div>
					<div class="MPC-des">Elephant National Park - a very ethical way to see elephants up close and contribute to a good cause</div>
                    <div class="MPC-see-more">
                        <a href="#Chiang-Mai"><button>See More</button></a>
                    </div>
				</div>
			</div>
			<div class="MPC-item" style="background-image: url('/media/thailand/chiang_mai/img_4_wholesome.jpeg');">
				<div class="MPC-content">
					<div class="MPC-name">Chiang Mai, Thailand</div>
					<div class="MPC-des">Some lovely people I met and got to travel with for a couple weeks</div>
                    <div class="MPC-see-more">
                        <a href="#Chiang-Mai"><button>See More</button></a>
                    </div>
				</div>
			</div>  
			<div class="MPC-item" style="background-image: url('/media/thailand/chiang_mai/food_3_bananas.jpeg');">
				<div class="MPC-content">
					<div class="MPC-name">Chiang Mai, Thailand</div>
					<div class="MPC-des">A very enthusiastic banana truck driver we ran into!</div>
                    <div class="MPC-see-more">
                        <a href="#Chiang-Mai"><button>See More</button></a>
                    </div>
				</div>
			</div>
			<div class="MPC-item" style="background-image: url('/media/thailand/chiang_mai/food_4_khaosoi.jpeg');">
				<div class="MPC-content">
					<div class="MPC-name">Chiang Mai, Thailand</div>
					<div class="MPC-des">One of my all time favourite foods now only found in the north of Thailand / Myanmar - Khao Soi</div>
                    <div class="MPC-see-more">
                        <a href="#Chiang-Mai"><button>See More</button></a>
                    </div>
				</div>
			</div>
			<div class="MPC-item" style="background-image: url('/media/thailand/chiang_mai/food_1_scorpion.jpeg');">
				<div class="MPC-content">
					<div class="MPC-name">Chiang Mai, Thailand</div>
					<div class="MPC-des">Some of the wild foods you can expect to find at the markets in Thailand</div>
                    <div class="MPC-see-more">
                        <a href="#Chiang-Mai"><button>See More</button></a>
                    </div>
				</div>
			</div>
			<div class="MPC-item" style="background-image: url('/media/thailand/aonang/img_2_railay_1.jpeg');">
				<div class="MPC-content">
					<div class="MPC-name">Railay Beach (Ao Nang, Krabi), Thailand</div>
					<div class="MPC-des">Only reachable via boat from the coast of Ao Nang in the Krabi province.</div>
                    <div class="MPC-see-more">
                        <a href="#Krabi"><button>See More</button></a>
                    </div>
				</div>
			</div>    
			<div class="MPC-item" style="background-image: url('/media/thailand/aonang/img_1_railay_beach_2.jpeg');">
				<div class="MPC-content">
					<div class="MPC-name">Railay Beach, Thailand</div>
					<div class="MPC-des">Phra Nang Beach - less crowded, more beautiful</div>
                    <div class="MPC-see-more">
                        <a href="#Krabi"><button>See More</button></a>
                    </div>
				</div>
			</div>
			<div class="MPC-item" style="background-image: url('/media/thailand/aonang/img_1_railay_beach_1.jpeg');">
				<div class="MPC-content">
					<div class="MPC-name">Railay Beach (Krabi), Thailand</div>
					<div class="MPC-des">Phra Nang Beach - people often rock climb these rocks</div>
                    <div class="MPC-see-more">
                        <a href="#Krabi"><button>See More</button></a>
                    </div>
				</div>
			</div>
			<div class="MPC-item" style="background-image: url('/media/thailand/aonang/img_5_railay_lake.jpeg');">
				<div class="MPC-content">
					<div class="MPC-name">Railay Beach, Thailand</div>
					<div class="MPC-des">A lagoon you can only access through an incredibly sketchy climb</div>
                    <div class="MPC-see-more">
                        <a href="#Krabi"><button>See More</button></a>
                    </div>
				</div>
			</div>
			<div class="MPC-item" style="background-image: url('/media/thailand/aonang/img_3_railay_sunset_2.jpeg');">
				<div class="MPC-content">
					<div class="MPC-name">Railay Beach (Krabi), Thailand</div>
					<div class="MPC-des">Sunset on Railay Beach (yes this time, actually Railay Beach. Confusing names)</div>
                    <div class="MPC-see-more">
                        <a href="#Krabi"><button>See More</button></a>
                    </div>
				</div>
			</div>
			<div class="MPC-item" style="background-image: url('/media/thailand/koh_tao/img_3_beach_1.jpeg');">
				<div class="MPC-content">
					<div class="MPC-name">Koh Tao, Thailand</div>
					<div class="MPC-des">I got my PADI open water certification, and the hotel (which was included) was located right on this beach</div>
                    <div class="MPC-see-more">
                        <a href="#Koh-Tao"><button>See More</button></a>
                    </div>
				</div>
			</div>
			<div class="MPC-item" style="background-image: url('/media/thailand/koh_tao/img_4_koh_nang_yuan_1.jpeg');">
				<div class="MPC-content">
					<div class="MPC-name">Koh Nang Yuan off Koh Tao, Thailand</div>
					<div class="MPC-des">Reachable by boat from Koh Tao, really beautiful beach</div>
                    <div class="MPC-see-more">
                        <a href="#Koh-Tao"><button>See More</button></a>
                    </div>
				</div>
			</div>
			<div class="MPC-item" style="background-image: url('/media/thailand/koh_tao/img_1_sunset.jpeg');">
				<div class="MPC-content">
					<div class="MPC-name">Koh Tao, Thailand</div>
					<div class="MPC-des">Daily sunset view</div>
                    <div class="MPC-see-more">
                        <a href="#Koh-Tao"><button>See More</button></a>
                    </div>
				</div>
			</div>
			<div class="MPC-item" style="background-image: url('/media/thailand/bangkok/img_3_cityskyline.jpeg');">
				<div class="MPC-content">
					<div class="MPC-name">Bangkok, Thailand</div>
					<div class="MPC-des">City skyline at sunset</div>
                    <a href="#Bangkok">
						<button>See More</button>
					</a>
				</div>
			</div>
			<div class="MPC-item" style="background-image: url('/media/thailand/bangkok/wholesome_6.jpeg');">
				<div class="MPC-content">
					<div class="MPC-name">Bangkok, Thailand</div>
					<div class="MPC-des">Celebrating a friend's and my birthday. Met them all in Chiang Mai</div>
                    <a href="#Bangkok">
						<button>See More</button>
					</a>
				</div>
			</div>
			<div class="MPC-item" style="background-image: url('/media/thailand/bangkok/img_1_temple_1.jpeg');">
				<div class="MPC-content">
					<div class="MPC-name">Bangkok, Thailand</div>
					<div class="MPC-des">One of the many detailed temples in Bangkok</div>
                    <a href="#Bangkok">
						<button>See More</button>
					</a>
				</div>
			</div>
			<div class="MPC-item" style="background-image: url('/media/thailand/chiang_rai/img_1_white_temple_1.jpeg');">
				<div class="MPC-content">
					<div class="MPC-name">Chiang Rai, Thailand</div>
					<div class="MPC-des">Stunning White Temple - This is the main building: ubosot</div>
                    <div class="MPC-see-more">
                        <a href="#Chiang-Rai"><button>See More</button></a>
                    </div>
				</div>
			</div>
			<div class="MPC-item" style="background-image: url('/media/thailand/chiang_rai/img_1_white_temple_2.jpeg');">
				<div class="MPC-content">
					<div class="MPC-name">Chiang Rai, Thailand</div>
					<div class="MPC-des">The hundreds of outreached hands symbolize unrestrained desire. The bridge proclaims the way to happiness is by foregoing temptation, greed, and desire.</div>
                    <div class="MPC-see-more">
                        <a href="#Chiang-Rai"><button>See More</button></a>
                    </div>
				</div>
			</div>
			<div class="MPC-item" style="background-image: url('/media/thailand/pai/img_1_mountains.jpeg');">
				<div class="MPC-content">
					<div class="MPC-name">Pai, Thailand</div>
					<div class="MPC-des">View of the mountains in Pai, the north of Thailand near Myanmar.</div>
                    <div class="MPC-see-more">
                        <a href="#Pai"><button>See More</button></a>
                    </div>
				</div>
			</div>
			<div class="MPC-item" style="background-image: url('/media/thailand/pai/img_2_dunes.jpeg');">
				<div class="MPC-content">
					<div class="MPC-name">Pai, Thailand</div>
					<div class="MPC-des">Pai Canyon</div>
                    <div class="MPC-see-more">
                        <a href="#Pai"><button>See More</button></a>
                    </div>
				</div>
			</div>
			<div class="MPC-item" style="background-image: url('/media/thailand/pai/img_3_paivalley.jpeg');">
				<div class="MPC-content">
					<div class="MPC-name">Pai, Thailand</div>
					<div class="MPC-des">View of Pai valley from Pai Canyon</div>
                    <div class="MPC-see-more">
                        <a href="#Pai"><button>See More</button></a>
                    </div>
				</div>
			</div>
			<div class="MPC-item" style="background-image: url('/media/thailand/pai/img_4_hotel.jpeg');">
				<div class="MPC-content">
					<div class="MPC-name">Pai, Thailand</div>
					<div class="MPC-des">The hotel my friends and I stayed at for $8/night</div>
                    <div class="MPC-see-more">
                        <a href="#Pai"><button>See More</button></a>
                    </div>
				</div>
			</div>
		</div> 

		<div class="MPC-next-prev">
			<button class="prev"><i class="fa-solid fa-arrow-left"></i></button>
			<button class="next"><i class="fa-solid fa-arrow-right"></i></button>
		</div>
	</div>
	<script src="{% static 'travel/MPC_specific.js' %}"></script>
</div>
{% endblock %}
